:root{
    --gray:#212121;
    --green:#009660;
    --white:#e9e9e9;
    --black:#0c0c0c;
    --lgray:#929292;
}

@font-face {
    font-family: neu;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}

@font-face {
    font-family: hell;
    src: url(./HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background:var(--black);
}

.green{
    color: var(--green);
}

.lgray{
    color: var(--lgray);
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav1{
    display: flex;
    align-items: center;
    gap: 18px;
}

.nav1 img{
    height: 40px;
}

.nav1 h6{
    font-family: neu;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 100;
}

.nav2{
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav2 img{
    height: 28px;
    border-radius: 50%;
    width: 28px;
}

.nav2 h4{
    font-family: neu;
    font-size: 15px;
    font-weight: 100;
}

.nav2 h4 i{
    font-size: 19px;
}

.nav3{
    display: none;
    gap: 30px;
    align-items: center;
}

.nav3 img{
    height: 23px;
    border-radius: 50%;
    width: 23px;
}

.nav3 h4{
    font-family: neu;
    font-size: 15px;
    font-weight: 100;
}

@media (max-width:600px) {
    nav{
        padding: 15px 20px;
    }

    .nav1 img{
        height: 30px;
    }

    .nav1 h6{
        font-size: 12px;
    }

    .nav2{
        display: none;
    }

    .nav3{
        display: flex;
    }
}

main{
    width: 100%;
    padding-top: 100px;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    font-family: hell;
}

.section1 .left{
    width: 42%;
}

.section1 .left h1{
    font-size: 45px;
}

.section1 .left .tags{
    display: flex;
    align-items: center;
    gap: 5px 5px;
    flex-wrap: wrap;
    margin: 30px 0;
}


.section1 .left h5{
    color: var(--green);
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 1.5px;
}

.left .price{
    font-size: 35px;
}

.left .price .lgray{
    font-size: 20px;
}
.section1 .left .tags h4{
    padding: 10px 20px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: var(--gray);
}

.section1 .left .cta{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.cta button{
    background-color: var(--green);
    padding: 20px 60px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.cta button:nth-child(2){
    background-color: var(--gray);
}


.section1 .right .right-in{
    width: 600px;
    border-radius: 5px;
    overflow: hidden;
}

.section1 .right .right-in .image{
    width: 100%;
    height: 300px;
}

.section1 .right .right-in .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1 .right .right-in .image-bottom{
    padding: 20px;
    background-color: var(--gray);
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.right-in .image-bottom h4{
    background-color: #151515;
    padding: 10px 15px;
    border-radius: 5px;
    width: 45%;
}

.right-in .image-bottom h4 span{
    color: var(--green);
}
.right-in .image-bottom h4:nth-of-type(2) span{
    text-transform: uppercase;
}

@media (max-width:1400px) {
    .section1 .left h1{
        font-size: 3.5vw;
    }
}

@media (max-width:800px) {

    main{
        padding-top: 50px;
    }

    .section1{
        flex-direction: column-reverse;
        padding: 15px 5vw;
    }
    .section1 .left{
        width: 100%;
        margin-top: 30px;
    }
    .section1 .left h1{
        font-size: 33px;
    }
    .section1 .right .right-in{
        width: 300px;
    }
    .section1 .right .right-in .image{
        width: 100%;
        height: 50vw;
    }
    .section1 .right .right-in .image-bottom{
        padding: 10px;
        padding-top: 20px;
        gap: 8px;
    }
    .right-in .image-bottom h4{
        padding: 6px 12px;
        border-radius: 5px;
        font-size: 2vw;
        width: 45%;
    }

}

@media (max-width:600px) {
    .section1 .left h1{
        font-size: 5vw;
    }
}